<!DOCTYPE html>

<html>
<head>
<title id="FriendsListTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8" ></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href=".\css\friendslist.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\buttons.css"></link>

<style type="text/css"></style>
</head>

<body id="FriendsList">
    <div id="fl_head">
        <h1>我的粉丝</h1>
    </div>
    <div id="fl_body">
        <div class="friendDiv">
            <div class="friendDiv_protrait"></div>
            <div class="friendDiv_detail"> 
                <h3>Niconiconi</h3>
            </div>
            <div class="friendDiv_moreOperations">
                <span>更多操作</span>
                <select  name="action"> 
                    <option value="friend">移除粉丝</option> 
                    <option value="follow">关注/取消关注</option> 
                    <option value="black">加入/移出黑名单</option>  
                </select> 
            </div>
        </div>
    </div>
</body>


</html>