<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title id="whHomePageTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8"></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href=".\css\homepage.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>

<style type="text/css">

</style>
</head>

<body id="HomePage">
<div id="hp_head" class="head">
    <div id="hp_protrait">
        <a href="login.html"></a>
    </div>
    <div id="hp_mailBox">新消息<a href="http://www.bilibili.com"></a></div>
    <h1>求助墙</h1>
</div>
<div id="hp_schboxs">
    <div class="ui-select" id=hp_sch1>  
        <span>求助类型</span>  
        <select>  
            <option value="1">The 1st Option</option>  
            <option value="2">The 2nd Option</option>  
            <option value="3">The 3rd Option</option>  
            <option value="4">The 4th Option</option>  
        </select>  
    </div>
    <div class="ui-select" id=hp_sch2>  
        <span>任务地点</span>  
        <select>  
            <option value="1">The 1st Option</option>  
            <option value="2">The 2nd Option</option>  
            <option value="3">The 3rd Option</option>  
            <option value="4">The 4th Option</option>  
        </select>  
    </div>
   <div class="ui-select" id=hp_sch3>  
        <span>排序</span>  
        <select>  
            <option value="1">The 1st Option</option>  
            <option value="2">The 2nd Option</option>  
            <option value="3">The 3rd Option</option>  
            <option value="4">The 4th Option</option>  
        </select>  
    </div>
</div>
<div id="searchShow" class="hp_schshow"></div>
<div id="hp_body">   <p>这里是一堆任务块</p></div>
<div id="loading_bottom" class="loading_bottom"></div>

</body>

</html>