<!DOCTYPE html>

<html>
<head>
<title id="hyhHomePageTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8" ></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href="homepage.css"></link>
<link rel="stylesheet" type="text/css" href="commonui.css"></link>
<style type="text/css">

</style>
</head>

<body id=login>
    <a href="">
        <div id="loginBtn" class= "roundBtn" >微信账号登陆
        </div>
    </a>
</body>
</html>