<!DOCTYPE html>

<html>
<head>
<title id="MailBoxTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8" ></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href=".\css\mailbox.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\buttons.css"></link>

<style type="text/css"></style>
</head>

<body id="MailBox">
    <div id="mb_head">
        <h1>站内信</h1>
    </div>
    <div id="mb_body">
        <div class="mailDiv">
            <div class="mailDiv_protrait"></div>
            <div class="mailDiv_detail"> 
                <h3>系统消息</h3>
                <p class="text">消息的前几个字 </p>
            </div>
        </div>
    </div>
</body>


</html>