<!DOCTYPE html>

<html>
<head>
<title id="MySpace_userTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8" ></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href=".\css\myspace.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>
<style type="text/css">

</style>
</head>

<body id=MySpace_user>
    <div id=ms_head>
        <div id=ms_protrait></div>
        <div id=ms_names>
            <p class="userName" style="text-align:center">昵称</p>
            <div id="ms_friendsList">
                <div id="ms_followerList"><a><p class="text" >关注 233</p></a></div>
                <div id="ms_fansList"><a><p class="text">粉丝 2333</p></a></div>
             </div>
            
        </div>
    </div>
    <div id="ms_btns">
        <div id="timelineBtn"><p class="boldtext">新鲜事</p></div>
        <div id="myTaskBtn"><p class="boldtext">我的任务</p></div>
        <div id="userInfoBtn"><p class="boldtext">个人资料</p></div>
    </div>
    <div id="ms_timeline"></div>
    <div id="ms_myTask"></div>
    <div id="ms_userInfo"></div>
</body>
</html>