<!DOCTYPE html>

<html>
<head>
<title id="MySpace_visitorTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8" ></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href=".\css\myspace.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\buttons.css"></link>

<style type="text/css"></style>

<script type="text/javascript">
    
    function showTimeLine(){
        document.getElementById('ms_timeline').style.visibility="";
        document.getElementById('ms_userInfo').style.visibility="hidden";
    }
    function showUserInfo(){
        document.getElementById('ms_timeline').style.visibility="hidden";
        document.getElementById('ms_userInfo').style.visibility="";
    }
</script>
</head>

<body id=MySpace_user>
    <div id=ms_head>
        <div id=ms_protrait></div>
        <div id=ms_names>
            <p class="userName" style="text-align:center">昵称</p>
            <div id="ms_friendsList">
                <div id="ms_followList"><a><p class="text" >关注 233</p></a></div>
                <div id="ms_fansList"><a><p class="text">粉丝 2333</p></a></div>
             </div>
            
        </div>
        <div id="ms_moreOperation" class="ui-select">
            <span>更多操作</span>
            <select id="operation" name="action"> 
               <option value="friend"></option> 
               <option value="follow">关注</option> 
                <option value="black">加入黑名单</option>  
            </select> 
        </div>
    </div>
    
    <div id="ms_timeline" style=""> 
        <div class="taskDiv">
            <div class="taskDiv_protrait"></div>
        <div class="taskDiv_detail"> 
            <h2>下午申通求代领</h2>
            <p class="text">任务有效期：2015-03-30 17:30</p>
            <p class="text">任务类型：代领快递</p>
            <p class="text">悬赏积分：20</p>
        </div>
        </div>
    </div>
    
</body>
</html>