<!DOCTYPE html>

<html>
<head>
    <title id="register"></title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="author" content="niconiconi-nju" >
    <link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>

    <script>

        function checkUsername() {
            var username = document.getElementById("username").value;
            var reg = /^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$/;
            if (!reg.test(username)) {
                alert("昵称包含非法字符。支持中文、英文、数字、“_”");
                return false;
            }
            else if (username.length > 14) {
                alert("昵称长度不符。请输入14位以内中文、英文、数字、“_”");
                return false;
            }
            else {
                return true;
            }
        }

        function checkStudentId() {                                                  //如果可以导入教务网数据验证学号更好
            var length = document.getElementById("studentid").value.length;
            if (length!=9) {
                alert("请输入正确的学号");
                return false;
            }
            else {
                if (isNaN(document.getElementById("studentid").value)) {
                    alert("请输入正确的学号");
                    return false;
                }
                else {
                    return true;
                }
            }
        }

        function check() {
            if (!checkUsername()) return false;
            if (!checkStudentId()) return false;                            //后台应验证学号是否被注册过
            return true;
        }
    </script>
     
</head>

<body>

    <div id="register-field">

    <h1>
        欢迎加入我们
        </h1>>
    <form name="register" action="?" method="post" onsubmit="return check();">
        <div>
            <div class="form-list">
                <span class="text">昵称</span>
                <input id="username" type="text" name="username" onchange="checkUsername()" />
            </div>
            <div class="form-list">
                <span class="text">学号</span>
                <input id="studentid" type="text" name="studentid" onchange="checkStudentId()" />
            </div>
            <div style="margin: 0 auto;height:40px;position:relative; left:0;">
                <div class="form-list">
                    <span class="text">校邮</span>
                    <input id="studentid" type="text" name="studentid" onchange="checkStudentId()" />
                </div>
                <div style="position:absolute; top:0px; left:60%; height:30px;" class="system">(学号@smail.nju.edu.cn)</div>
            </div>
            <div class="form-list">
                <input type="submit" class="text" value="join us" />
            </div>
        </div>
        <div style="width:30%; position:relative; left:42%; top:10px;">
            <p class="system">我们将向您的邮箱发送验证邮件</p> 
            <p class="system">请于48小时内<a href="http://mail.nju.edu.cn">登录邮箱</a>进行验证</p>
        </div>
        

    </form>

    </div>
</body>

</html>