<!DOCTYPE html>

<html>
<head>
    <title id="register"></title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8"></meta>
    <meta name="author" content="niconiconi-nju" ></meta>

    <script>

        function checkUsername() {
            var username = document.getElementById("username").value;
            var reg = /^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$/;
            if (!reg.test(username)) {
                alert("昵称包含非法字符。支持中文、英文、数字、“_”");
                return false;
            }
            else if (username.length > 14) {
                alert("昵称长度不符。请输入14位以内中文、英文、数字、“_”");
                return false;
            }
            else {
                return true;
            }
        }

        function checkStudentId() {
            var length = document.getElementById("studentid").value.length;
            if (length!=9) {
                alert("请输入正确的学号");
                return false;
            }
            else {
                if (isNaN(document.getElementById("studentid"))) {
                    alert("请输入正确的学号");
                    return false;
                }
                else {
                    return true;
                }
            }
        }

        function checkPhoneNumber() {                   //只单纯验证长短，未设置验证码，安全性较低
            var pn = document.getElementById("phoneNumber").value;
            if (pn.length != 11) {
                alert("请输入正确的手机号");
                return false;
            }
            else {
                if (isNaN(pn)) {
                    alert("请输入正确的手机号");
                    return false;
                }
                else {
                    return true;
                } 
            }
        }

        function check() {
            if (!checkUsername()) return false;
            if (!checkStudentId()) return false;
            if (!checkPhoneNumber()) return false;
            return true;
        }
    </script>
</head>

<body>

    <div class="total-field">

    <h1 class="welcome-words-field">
        欢迎加入我们
    </h1>
    <form name="register" action="?" method="post" onsubmit="return check();">
        <ul>
            <li class="form-list">
                <span>昵称</span>
                <input id="username" type="text" name="username" onchange="checkUsername()" />
            </li>
            <li class="form-list">
                <span>学号</span>
                <input id="studentid" type="password" name="password" onchange="checkStudentId()" />
            </li>
            <li class="form-list">
                <span>手机号</span>
                <input id="phoneNumber" type="password" name="repassword" onchange="checkPhoneNumber()" />
            </li>
            <li class="form-list">
                <input type="submit" value="join us" />
            </li>
        </ul>

    </form>

    </div>
</body>

</html>