<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title id="whTaskDetailTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8"></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href=".\css\taskdetail.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>

<style type="text/css">

</style>
</head>

<body>
<div id="td_head" class="head">
    <h1>任务详情</h1>
    <div class="backBtn"><a></a></div>
    <div id="td_moreOperation"></div>
</div>
<div id="td_promulgator">
    <div id="td_protrait">
        <a href=""></a>
    </div>
    <div id="promulgatorName"><p class="userName">匿名用户</p></div>
    <div id=time><p class="text">2015/3/7 17:22</p></div>
</div>
<div id="td_taskInfo">
    
        <h2>任务标题</h2>
        <p class="text">任务有效期</p>
        <p class="text">任务类型</p>
        <p class="text">悬赏积分</p>
        <p class="text">任务状态</p>
    
</div>
<div id="td_taskDescription">
     <h3>任务详情</h3>
     <p class="text" style="padding-right: 2cm;">这里是任务详情描述让我试试它能不能换行换行吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦能换行就好</p>
     
</div>
<div id="td_reply">
    <p class="text">这里是回复们</p>
</div>
<div id="td_addReply">
    
</div>

<div id="td_operation">
    
</div>
</body>


</html>