<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title id="whTaskDetailTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8"></meta>

<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>

<link rel="stylesheet" type="text/css" href=".\css\taskdetail.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\commonui.css"></link>
<link rel="stylesheet" type="text/css" href=".\css\buttons.css"></link>
<style type="text/css"></style>

<script type="text/javascript">
    function getSltValue() {
        
        var operation = document.getElementById("operation").value;
        var myForm = document.getElementById("op");
        var task_id = document.getElementById("taskId").value;
        if(operation=='close_task'){
            if(confirm("是否确认关闭该任务？")){
                myForm.submit();
            }
        }
        if(operation=='stickie_task'){
            if(confirm("置顶任务会额外消耗积分，是否置顶？"))
                myForm.submit();
        }
        if(operation=='modify_task'){
            SetCookie("taskID",task_id,1);
            window.location.href='EditTask.html';
        }
        
    }
    
    function SetCookie(cookieName,cookieValue,nDays) {
        /*当前日期*/
        alert("");
        var today = new Date();
        /*Cookie过期时间*/
        var expire = new Date();
        /*如果未设置nDays参数或者nDays为0，取默认值1*/
        if(nDays == null || nDays == 0) nDays = 1;
        /*计算Cookie过期时间*/
        expire.setTime(today.getTime() + 3600000 * 24 * nDays);
        /*设置Cookie值*/
        alert("");
        document.cookie = cookieName + "=" + escape(cookieValue)+ ";expires=" + expire.toGMTString();
    }
    
</script>

</head>

<body>
<?php 
	/*
	 *任务详情
	 *
	 */
	 session_start();
	 require('constants.php');
	 $taskID = 1;		//获取id
	 
	 $sql1 = "select * from task where ID = '$taskID'";
	 $sql2 = "select * from comment where task_id = '$taskID'";
	 
	//验证数据库服务器连接
	if(($con=mysql_connect(dbServer,dbUserName,dbPassword))===FALSE)
		die("could not connect to database");
	
	//验证服务器连接
	if(mysql_select_db(database)===FALSE)
		die("could not connect to database");
	 $task = mysql_query($sql1);
	 $comments = mysql_query($sql2);
		
	//验证数据库操作是否成功
	if($result===FALSE)
		die("could not query database");
	
	//显示任务详情
	global $taskRow = mysql_fetch_array($task));
	?>
	
<div id="td_head" class="head">
    <h1>任务详情</h1>
    <div class="backBtn"><a></a></div>
    <form id="op" action="editTask.php" method="post">
       <input type="hidden" name="studentid" value="<?php session_start();$author = $_SESSION['stuNum']; ?>" style="display:none;"></input>
       <input id="taskId" type="hidden" name="task_id" style="display:none;" value=1234 ></input>
        <div id="td_moreOperation" class="ui-select">
            <span>更多操作</span>
            <select id="operation" name="action" onchange="getSltValue()">  
                <option value="modify_task">编辑任务</option>  
                <option value="close_task">关闭任务</option>  
                <option value="stickie_task">置顶任务</option>  
            </select>  
        </div>
    </form>
</div>

<div id="td_promulgator">
    <div id="td_protrait">
        <a href=""></a>
    </div>
    <div id="promulgatorName"><p class="userName">匿名用户</p></div>
    <div id=time><p class="text">2015/3/7 17:22</p></div>
</div>
<div id="td_taskInfo">
    
        <h2 >任务标题 <?php echo $taskRow['title']; ?> </h2>
        <p class="text">任务有效期 <?php echo $taskRow['validity']; ?></p>
        <p class="text">任务类型 <?php echo $taskRow['type']; ?></p>
        <p class="text">悬赏积分 <?php echo $taskRow['point']; ?></p>
        <p class="text">任务状态 <?php 
                                if( $taskRow['status']==0) echo "待接受";
                                if( $taskRow['status']==3) echo "已完成";
                                else echo "进行中";
                                ?></p>
    
</div>
<div id="td_taskDescription">
     <h3>任务详情</h3>
     <p class="text" style="padding-right: 2cm;">这里是任务详情<?php echo $taskRow['content']; ?></p>
     
</div>

<div id="td_reply">
    <p class="text">这里是回复们</p>
</div>

<form id="addReply" action="..\\etc\reply.php" method="post">
<div id="td_addReply">
    <h3>发表回复</h3>
    <textarea id="replyBox" type="text" name="reply_content"></textarea>
    <input name="task_id" value="" style="visibility:hidden"></input>
    <input class="ghbutton" id="replyBtn" type="submit"  value="回复" ></input>
</div>
</form>

<div style="height:90px"></div>
<div id="td_operation">
    
</div>
</body>


</html>