<!DOCTYPE html>

<html>
<head>
<title id="AdminHomePageTitle"></title>
<meta content="off" http-equiv="x-dns-prefetch-control" charset="utf-8" ></meta>
<meta content="target-densitydpi=320,width=640,user-scalable=no" name="viewport"></meta>
<link rel="stylesheet" type="text/css" href="adminhomepage.css"></link>
<link rel="stylesheet" type="text/css" href="../css/commonui.css"></link>
<link rel="stylesheet" type="text/css" href="../css/buttons.css"></link>
<style type="text/css"></style>
</head>

<body>
<div id="hp_head">
    <div id="logo">这里是个logo</div>
    <a href="#" onClick=""><div id="taskBtn" class="Btn"><p class="text" style="text-align:center;">任务</p></div></a>
    <a href="#" onClick=""><div id="userBtn" class="Btn"><p class="text" style="text-align:center;">用户</p></div></a>
    <a href="#" onClick=""><div id="complaintBtn" class="Btn"><p class="text" style="text-align:center;">申诉</p></div></a>
    <a href="#" onClick=""><div id="mailBtn" class="Btn"><p class="text" style="text-align:center;">通知</p></div></a>
</div>

<div id="userlist">
    <div id="userlist_name"><h3>全部用户</h3></div>
    <div id="finduser">
        <input class="ghbutton" id="searchBtn" type="submit"  value="查找" ></input>
        <input style="width:300px;height:25px;margin-top:20px;float:right;"></input>
    </div>
    <table id="userlist_table" cellspacing="0">
        <thead id="table_head">
            <tr>
            <th class="table_cell user no_extra" colspan="3" style="height:44px;">
                <div id="group_select">
                <label id="select_allBox" class="selectBox"><input type="checkbox" name="" value=""/>全选</label>
                <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                </select>
                </div>
            </th>
            </tr>
        </thead>
        <tbody id="userGroups" class="tbody">
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table_cell select">
                    <label class="selectBox"><input type="checkbox" name="" value=""/></label>
                    
                </td>
                <td class="table_cell info">
                   <div style="height:70px;">
                    <div class="portrait">这里是一个头像</div>
                    <div class="username"><p>Niconiconi</p></div>
                    </div>
                </td>
                <td class="table_cell choose">
                    <select class="userOperation" name="type">  
                    <option>-选择操作-</option>
                    <option value="1">奖励积分</option>  
                    <option value="2">扣除积分</option>  
                    <option value="3">封禁用户</option>  
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="userlist_page_turn">
        <div id="userlist_forward">《</div>
        <div id="userlist_page" >1/1</div>
        <div id="userlist_backward">》</div>
    </div>
</div>

</body>
</html>