#td_head{ border: solid 1px;}
#td_moreOperation{
    width: 100px;
    height: 50px;
    font-family: 微软雅黑; font-size: 15px;
    float: right;
    position: relative; top: -60px; right: 20px;
    line-height: 50px;
}
#td_moreOperation select{height: 50px;}
#td_promulgator{
    height: 90px;
    border: solid 1px;
}
#td_protrait{
    position: relative; top:2px; left: 10px;
    width: 90px;
    height: 86px;
    background-image: url(icon/logo2.png);
    overflow: hidden;
    cursor: hand;
}
#td_protrait a{ display:block;width: 90px; height: 86px; cursor:hand; }
#promulgatorName{ 
    position: relative;
    top:-100px;left: 150px;
}
#time{
    position: relative;
    top:-110px;left: 150px;
}

#td_taskInfo{
    height: 180px;
    line-height: 10px;
    padding-left: 15px;
    border: solid 1px;
}

#td_taskDescription{
    
    height: auto;
    border: solid 1px;
    padding-left: 15px;
}

#td_reply{
    height: auto;
    border: solid 1px;
    padding-left: 15px;
}

#td_addReply{
     height: 300px;
    border: solid 1px;
    padding-left: 15px;
}
#replyBox{
    position: relative; height: 100px;
    padding: 10px;
    width: 97%;   
}
#replyBtn{
    width: 100px;
    height: 35px;
    margin: 20px;
    float: right;
    font-family: 微软雅黑; font-size: 15px;
}

